@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --primary-dark: #2B2634;
    --primary-light: #FFF6EB;
    --secondary-dark: #1F1B27;
}


body {
    margin: 0px;
    display: block;
    color: var(--primary-light);
    font-family: 'Lexend Deca';
    background-color: var(--secondary-dark);
}

#root {
    width: 100%;
    height: 100%;
}

.profile-main {
    width: 50vw;
    max-width: 600px;
    padding: 50px;
    border: solid 2px var(--primary-light);
    border-radius: 20px;
}

input {
    display: inline-block;
    width: 100%;
    height: 1.8em;
    font-size: 1em;
    font-family: 'Lexend Deca';
    padding-left: 10px;
    box-sizing: border-box;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border: none;
    border-radius: 3px;
}

.header-title {
    margin-left: 30px;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

p {
    display: inline-block;
    width: 160px;
    font-size: 1.1em;
}

button {
    background-color: var(--primary-dark);
    border: solid 2px var(--primary-light);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
    font-family: serif;
    color: var(--primary-light);
    font-family: 'Lexend Deca';
}

button:hover {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button {
    padding: 0;
}

.button:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    border: 2px var(--primary-light) solid;
}

.profile {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.info {
    display: none;
    position: absolute;
    width: 100%;
    text-align: right;
    font-size: 0.8em;
    white-space: pre-line;
    margin: 50px 0px 0px 0px;
}

.row {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(50vh - 60px);
    box-sizing: border-box;
    padding-right: 20px;
}

.post {
    position: relative;
    display: block;
    align-items: center;
    width: 30vw;
    border: solid 2px var(--primary-light);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    margin: 20px 0px 0px 20px;
    background-color: var(--primary-dark);
}

.postempty {
    position: relative;
    display: block;
    align-items: center;
    width: 30vw;
    overflow: hidden;
    padding: 20px;
    margin: 20px 0px 0px 20px;
}

.images {
    position: relative;
    display: block;
    width: 100%;
    height: 60%;
    overflow: hidden;
}

img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.post-text {
    display: -webkit-box;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    padding-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.post-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.logo {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 0px;
    padding-right: 5px;
}

.logo-text {
    display: inline;
    font-size: 3em;
    color: var(--primary-light);
}