.home-main {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-left: 300px;
}

.header-button {
    margin-left: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search {
    margin-left: 20px;
}

.new-post-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1b2780;
    z-index: 100;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.new-post-popup-container {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-dark);
    border: solid var(--primary-light) 2px;
    border-radius: 10px;
    padding: 20px;
}

.new-post-content {
    display: flex;
    height: 100%;
    align-items: center;
    margin-bottom: 20px;
}

#new-post-empty-image {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--primary-light);
    border-radius: 10px;
    background-size: cover;
    margin-right: 20px;
}

#new-post-empty-image[style*="background-image"] .filebutton {
    opacity: 0;
}

#new-post-empty-image[style*="background-image"]:hover .filebutton {
    opacity: 100;
}

#new-post-empty-image.image-hidden {
    display: none;
}

.filebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    text-wrap: wrap;
    word-break: break-all;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border: 2px solid var(--primary-light);
    border-radius: 5px;
    transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#image {
    display: none;
}

#body {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    overflow: hidden;
}

.new-post-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.new-post-buttons>button {
    width: 200px;
}

.popup-hidden {
    pointer-events: none;
    opacity: 0;
}

#loadmore {
    align-self: center;
}

#post-end {
    align-self: center;
    opacity: 0.5;
}