.posts-container {
    position: relative;
    padding-top: 10px;

    column-fill: balance;
    column-gap: 10px;
    break-inside: avoid;
}

.post {
    display: inline-block;
    align-items: center;
    width: 100%;
    border: solid 2px var(--primary-light);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--primary-dark);
    margin-bottom: 10px;
    box-sizing: border-box;
}

.images {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.post-author {
    font-weight: bold;
    width: 100%;
    font-size: 1.1em;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 10px;
}

.post-text {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    word-break: break-word;
    margin: 0px;
}

.post-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    gap: 15px
}

.post-buttons {
    display: flex;
    justify-content: end;
    gap: 10px;

}

.post-buttons>img {
    padding: 3px;
    transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
}

.post-buttons>img:hover {
    background-color: var(--primary-light-transparent);
}

.post-comments {
    position: relative;
    margin-top: 10px;
    background-color: var(--secondary-dark);
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1em;
    max-height: 400px;
    overflow: hidden;

    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.comment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.comment-user {
    display: inline-block;
    width: auto;
    margin-block: 0px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1em;
}

.comment-text {
    display: inline-block;
    width: auto;
    margin-block: 0px;
    word-break: break-all;
    text-align: end;
    font-size: 1em;
    margin-block: 0;
}

.comment-hidden {
    max-height: 0px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.post-comments-input {
    display: flex;
    flex-direction: column;
}

.post-comments-input input {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.post-comments-input input.comment-input-hidden {
    visibility: hidden;
    height: 0px;
    margin: 0px;
    border: none;
}

.post-comments > .post-comments-input:first-child input {
    margin-top: 0;
}

.post-comments-input button {
    align-self: flex-end;
}

.post-comments img:hover {
    background-color: var(--primary-light-transparent);
}

.comment-edit {
    display: inline-block;
    height: 1.2rem;
    margin-right: 5px;
    vertical-align: baseline;
    margin-bottom: -3px;
    border-radius: 3px;
}

@media only screen and (min-width: 1024px) {
    .posts-container {
        column-count: 4;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 1100px) {
    .posts-container {
        column-count: 3;
    }
}

@media only screen and (max-width: 1100px) {
    .posts-container {
        column-count: 2;
    }
}