@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.background-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-dark);
}

.main-login {
    display: flex;
    width: 75vw;
    height: 75vh;

    align-items: center;
    justify-content: center;
}

.header-login {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 50vw;
    top: 6vh;
}

.header-login>h1 {
    text-align: right;
    width: 271.25px;
}

.login-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px var(--primary-light) solid;
    border-radius: 10px;
    padding: 50px;
    height: 100%;
    width: 20vw;
    box-shadow: 100px;
    background-color: var(--primary-dark);
}

.form h2 {
    position: relative;
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 15px;
}

.form input {
    display: block;
    margin-top: 2px;
}

.form>input,
.form>form>input {
    margin: 30px 20px 20px 20px;
}

.form>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.input-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
}

.input-field {
    display: inline-block;
    padding: 10px;
    flex: 50%;
}

form label {
    margin-bottom: 10px;
}

.login-splitter {
    width: 2px;
    height: 85vh;
    background-color: var(--primary-light);
    border-radius: 2px;
}

.error {
    background-color: var(--tertiary-dark);
    border: solid 2px var(--tertiary-light);
    padding: 20px;
    border-radius: 10px;
}

.error:empty {
    height: 0px;
    width: 0px;
    padding: 0;
    border: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.error:not(:empty)::before {
    content: "error: ";
}

.login-separator {
    height: 2px;
    width: 100%;
    background-color: var(--primary-light);
    margin-top: 30px;
    margin-bottom: 50px;
}

/* GOOGLE BUTTON */

.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
}